{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<h2> Administration  du Site</h2>
<ul>
  <li>
    <a href="/country">Pays </a>
  </li>
  <li>
    <a href="/trip">Voyage </a>
  </li>
</ul>

{% endblock %}
